.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1rem;
  margin: 0 auto;
}

.gradientText0 {
  background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText1 {
  background: -webkit-linear-gradient(#a79af9, #7aa8d2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText2 {
  background: -webkit-linear-gradient(#bfa3da, #743f93);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText3 {
  background: -webkit-linear-gradient(#c35ab1, #e9a8d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  text-decoration-color: #84309c;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: left;
}

.connect {
  margin-bottom: 2rem;
}

.description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #555;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.1rem;
}

.grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #131313;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 440px;
  overflow: none;
  border: none;
}

.cardText {
  padding: 1rem;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
  margin-bottom: 12px;
  border: none;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #272c34;
  opacity: 80%;
}

.card h2 {
  margin: 0 0 0.75rem 0;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .header {
    margin-left: 0;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .title {
    font-size: 3rem;
    line-height: 1.15;
  }
}

.card,
.footer {
  border-color: #222;
}
.logo img {
  filter: invert(1);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: #131313;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbarLogo h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
.navbarLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbarLinks p {
  margin-right: 1rem;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.navbarLinks p:hover {
  color: royalblue;
}
.minterContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 2rem;
  height: 50vh;
}
.mintContainerSection {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 1rem;
  width: 50%;
  height: 100%;
}
.metadataInput {
  height: 48px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: #131313;
  color: #fff;
}
.mintButton {
  height: 48px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid royalblue;
  padding: 0 1rem;
  font-size: 1rem;
  margin-top: 40px;
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.mintButton:hover {
  background-color: #fff;
  color: royalblue;
}
.mintButton:disabled {
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
}
.fileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.resetButton {
  height: 48px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid crimson;
  padding: 0 1rem;
  font-size: 1rem;
  background-color: crimson;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.resetButton:hover {
  background-color: darkred;
}
.nftCardContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 1rem;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #333;
  transition: all 0.2s ease-in-out;
}
.nftCardContainer:hover {
  transform: scale(1.02);
}
.nftCardContainer p {
  border: 1px solid #555;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 0.75rem;
  color: #555;
}